<app-header></app-header>

<ion-content class="bg-transparent relative h-fit w-full flex items-center justify-start text-left bg-cover bg-center" fullscreen="true">
  <section>
    <div class="px-4 pb-4">
      <h2 class="text-xl text-yellow-500 font-light">Prayers</h2>
      <p class="text-base text-white font-light my-2">
        All about prayer in this section
      </p>
    </div>

    <div class="grid grid-cols-2 gap-2 px-4">
      <div routerLink="../../events" class="px-2 py-3 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500 inline" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="M11 24h10v2H11zm2 4h6v2h-6zm3-26A10 10 0 0 0 6 12a9.19 9.19 0 0 0 3.46 7.62c1 .93 1.54 1.46 1.54 2.38h2c0-1.84-1.11-2.87-2.19-3.86A7.2 7.2 0 0 1 8 12a8 8 0 0 1 16 0a7.2 7.2 0 0 1-2.82 6.14c-1.07 1-2.18 2-2.18 3.86h2c0-.92.53-1.45 1.54-2.39A9.18 9.18 0 0 0 26 12A10 10 0 0 0 16 2z"/></svg>
        <h5 class="mt-2 text-sm font-normal tracking-tight text-gray-900 dark:text-white">Prayer Ideas</h5>
        <p class="text-xs font-light text-gray-500">
          Open for more details
        </p>
      </div>
      <div routerLink="../../holybible" class="px-2 py-3 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500 inline" preserveAspectRatio="xMidYMid meet" viewBox="0 0 26 26"><path fill="currentColor" d="M13 0v2C6.955 2 2 6.955 2 13s4.955 11 11 11s11-4.955 11-11c0-2.947-1.11-5.61-3.094-7.594L19.5 6.813C21.117 8.428 22 10.546 22 13c0 4.955-4.045 9-9 9s-9-4.045-9-9s4.045-9 9-9v2l5-3l-5-3zm2.094 6.563l-2.5 5A1.483 1.483 0 0 0 11.5 13a1.5 1.5 0 0 0 1.5 1.5h.063l3.218 3.219l1.438-1.438l-3.219-3.218V13c0-.197-.056-.39-.125-.563l2.531-5l-1.812-.875z"/></svg>
        <h5 class="mt-2 text-sm font-normal tracking-tight text-gray-900 dark:text-white">Preaching</h5>
        <p class="text-xs font-light text-gray-500">
          Open for more details
        </p>
      </div>
    </div>
  </section>
</ion-content>
