<app-header></app-header>

<ion-content class="bg-transparent relative h-fit w-full flex items-center justify-start text-left bg-cover bg-center" fullscreen="true">
  <section>
    <div class="px-4 pb-4">
      <h2 class="text-xl text-yellow-500 font-light">Shop</h2>
      <p class="text-base text-white font-light my-2">
        All about prayer in this section
      </p>
    </div>

    <div class="grid grid-cols-2 gap-2 px-4">
      <div routerLink="../../events" class="px-2 py-3 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500 inline" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"><path fill="currentColor" d="M10 5.2h18v1.55H10z" class="clr-i-outline clr-i-outline-path-1"/><path fill="currentColor" d="M29 8H9.86A1.89 1.89 0 0 1 8 6a2 2 0 0 1 1.86-2H29a1 1 0 0 0 0-2H9.86A4 4 0 0 0 6 6a4.14 4.14 0 0 0 0 .49a1 1 0 0 0 0 .24V30a4 4 0 0 0 3.86 4H29a1 1 0 0 0 1-1V9.07A1.07 1.07 0 0 0 29 8Zm-1 24H9.86A2 2 0 0 1 8 30V9.55a3.63 3.63 0 0 0 1.86.45H28Z" class="clr-i-outline clr-i-outline-path-2"/><path fill="none" d="M0 0h36v36H0z"/></svg>
        <h5 class="mt-2 text-sm font-normal tracking-tight text-gray-900 dark:text-white">Books</h5>
        <p class="text-xs font-light text-gray-500">
          Open for more details
        </p>
      </div>
      <div routerLink="../../holybible" class="px-2 py-3 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500 inline" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48"><mask id="svgIDa"><g fill="none"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M30 30c3 0 5 1.88 5 4h6V4h-6c0 2-2 4-5 4s-5-2-5-4h-6v14"/><path fill="#555" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M30 44h-6c0-2.12-2-4-5-4s-5 1.88-5 4H8V14h6c0 2 2 4 5 4s5-2 5-4h6v30Z"/><circle cx="14" cy="24" r="2" fill="#fff"/><circle cx="19" cy="24" r="2" fill="#fff"/><circle cx="24" cy="24" r="2" fill="#fff"/></g></mask><path fill="currentColor" d="M0 0h48v48H0z" mask="url(#svgIDa)"/></svg>
        <h5 class="mt-2 text-sm font-normal tracking-tight text-gray-900 dark:text-white">Concert tickets</h5>
        <p class="text-xs font-light text-gray-500">
          Open for more details
        </p>
      </div>
      <div routerLink="../../holybible" class="px-2 py-3 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500 inline" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="m23.1 16l6.3-6.3c.8-.8.8-2 0-2.8l-4.2-4.2c-.8-.8-2-.8-2.8 0L16 8.9L9.7 2.6c-.8-.8-2-.8-2.8 0L2.6 6.8c-.8.8-.8 2 0 2.8L8.9 16L2 22.9V30h7.1l6.9-6.9l6.3 6.3c.8.8 2 .8 2.8 0l4.2-4.2c.8-.8.8-2 0-2.8L23.1 16zm.7-12L28 8.2l-6.3 6.3l-4.2-4.2L23.8 4zM8.2 28H4v-4.2l6.3-6.3l4.2 4.2L8.2 28zm15.6 0L4 8.2L8.2 4l3.5 3.5l-2.1 2.1L11 11l2.1-2.1l4.2 4.2l-2.1 2.1l1.4 1.4l2.1-2.1l4.2 4.2l-1.9 2.2l1.4 1.4l2.1-2.1l3.5 3.5l-4.2 4.3z"/></svg>
        <h5 class="mt-2 text-sm font-normal tracking-tight text-gray-900 dark:text-white">Accessories</h5>
        <p class="text-xs font-light text-gray-500">
          Open for more details
        </p>
      </div>
    </div>
  </section>
</ion-content>
